@import url("./variables.css");

/*
 * Main components
 */


/*Nav Bar*/

@media(min-width:768px) {
    .nav {
        margin-bottom: 6px;
    }
    .navbar-header {
        margin-top: 5px;
    }
    #content-wrapper {
        margin-top: 60px;
    }
}

@media(max-width:768px) {
    #content-wrapper {
        margin-top: 50px;
    }
}

.nav-title-label {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 200;
    color: white;
}

.select-wrapper {}

.page-header {
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    display: block;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}


/*
 * Vis panels
 */


/*policytrend*/

#policy-trend-wrapper {
    height: 60px;
}


/*snapshot panel*/

#snapshot-wrapper {
    overflow: scroll;
    height: 160px;
}

.snapshot-wrapper {
    cursor: pointer;
    float: left;
    width: 175px;
    height: 150px;
}


/*shared style*/

.hovered-item {
    fill: var(--color-hovered) !important;
    stroke: var(--color-hovered) !important;
    opacity: 0.8 !important;
}

.follow-the-rule {
    fill: var(--color-follow-the-rule);
    opacity: 0.6;
}

.violate-the-rule {
    fill: var(--color-violate-the-rule);
    opacity: 0.6;
}

.invalid-arc {
    opacity: 0 !important;
}

.reference-line {
    stroke-dasharray: 5;
    stroke: lightslategray;
}


/*diffusion view panel*/

#diffusion-path-group path {}

.guidances path {
    fill: none;
    stroke: var(--color-default-black);
    opacity: 0.3;
}

.text-tip {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    cursor: default;
}


/*arc view panel*/

#svg-arc-view circle {
    stroke-width: 1;
}

#svg-arc-view .labels text {
    font-size: 10px;
}

#svg-arc-view .arcs .hovered-follow-the-rule {
    stroke: var(--color-follow-the-rule);
    stroke-width: 1.5;
    stroke-linecap: "round";
}

#svg-arc-view .arcs .hovered-violate-the-rule {
    stroke: var(--color-violate-the-rule);
    stroke-width: 1.5;
    stroke-linecap: "round";
}

#svg-arc-view .arcs path.follow-the-rule:hover {
    stroke: var(--color-follow-the-rule);
    stroke-width: 1.5;
    stroke-linecap: "round";
}

#svg-arc-view .arcs path.violate-the-rule:hover {
    stroke: var(--color-violate-the-rule);
    stroke-width: 1.5;
    stroke-linecap: "round";
}


/*policy geo panel*/

#svg-geo-view {
    stroke-linejoin: "round";
    stroke-linecap: "round";
}

.tract:hover {
    cursor: pointer;
}

.tract-border {
    fill: none;
    stroke: var(--color-map-border);
    pointer-events: none;
}

#region-tract-group {
    pointer-events: visible;
}


/*policy cascade panel*/

#policy-cascade-wrapper .jumbotron {
    padding: 30px 30px !important;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.y-axis text,
.legend {
    font-family: sans-serif;
    font-size: 11px;
    fill: steelblue;
}

.x-axis text,
.x-axis line,
.x-axis path {
    opacity: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    cursor: default;
}

.text-tip {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
}

.partial rect,
.partial text,
.y-axis {
    cursor: all-scroll;
}


/*stat-bar-panel*/

#stat-bar-wrapper {
    height: 100px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #bfb7b7;
    color: #fff;
    border-radius: 2px;
    z-index: 1001;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar:hover {
    fill: var(--color-bar-hover);
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: visible;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: var(--color-sidebar-bg);
        border-right: 1px solid #eee;
    }
}

.breadcrumb {
    margin-bottom: 0;
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}