:root {
    --color-sidebar-bg: #f5f5f5;
    /*purple*/
    --color-trans-in: #311B92;
    --color-trans-out: #B39DDB;
    /*yellow*/
    /*--color-trans-in: #FF6D00;
    --color-trans-out: #FFD180;*/
    /*green*/
    --color-value-in: #004D40;
    --color-value-out: #E0F2F1;
    --color-follow-the-rule: gray;
    --color-violate-the-rule: red;
    --color-unadopted: lightgray;
    --color-unadopted-darker: #939393;
    --color-dark-gray: #666;
    --color-default-black: #311B92;
    --color-hovered: #ffa700;
    --color-in-nodes: #F68F39;
    --color-out-nodes: #F2C777;
    --color-clicked: blue;
    --color-map-border: white;
    --color-a: #cbdbef;
    --color-b: #fff5f0;
    --color-c: #4292c6;
    --color-d: #ef3b2c;
    --color-e: #9ecae1;
    --color-f: #6baed6;
    --color-g: #deebf7;
    --color-h: #fc9272;
    --color-i: #fb6a4a;
    --color-j: #e61c21;
    --color-cb-0: #f7fbff;
    --color-cb-1: #fcbba1;
    --color-cb-2: #fee0d2;
    --color-cb-3: #c6dbef;
    --color-cb-4: #2171b5;
    --color-cb-5: #ADDFFF;
    --color-cb-6: #BDEDFF;
    --color-cb-7: #CFECEC;
    --color-cb-8: #E0FFFF;
    --color-cb-9: #EBF4FA;
    --color-cb-10: #F0F8FF;
    --color-cb-a: #F0FFFF;
    --color-cb-b: #CCFFFF;
    --color-cb-c: #FFFFC2;
    --color-cb-d: #FFFFCC;
    --color-cb-e: #FFF8C6;
    --color-cb-f: #FFF8DC;
    --color-cb-g: #F5F5DC;
    --color-1: #cbdbef;
    --color-2: #2171b5;
    --color-3: #fcbba1;
    --color-4: #c9040c;
    --color-5: #e61c21;
    --color-6: #fee0d2;
    --color-7: #4292c6;
    --color-8: #6baed6;
    --color-9: #fff5f0;
    --color-10: #c6dbef;
    --color-11: #fb6a4a;
    --color-12: #08306b;
    --color-13: #9ecae1;
    --color-14: #f7fbff;
    --color-15: #deebf7;
    --color-16: #fff5f0;
    --color-17: #f7fbff;
    --color-18: #ef3b2c;
    --color-19: #b2051b;
    --color-20: #fc9272;
    --color-21: #08519c;
    --opacity-state: 1;
    --opacity-region: 1;
    --attr-link-width: 1px;
    --attr-hovered-link-width: 2px;
}