<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Attribute <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a aid="centrality">Influence</a></li>
    <li><a aid="perCapitaIncome">Per Capita Income (<%= corrScores.pci %>)</a></li>
    <li><a aid="minorityDiversity">Minority Diversity (<%= corrScores.md %>)</a></li>
    <li><a aid="legislativeProfessionalism">Legislative Professionalism (<%= corrScores.lp %>)</a></li>
    <li><a aid="citizenIdeology">Citizen Ideology (<%= corrScores.ci %>)</a></li>
    <li><a aid="totalPopulation">Total Population (<%= corrScores.pop %>)</a></li>
    <li><a aid="populationDensity">Population Density (<%= corrScores.pd %>)</a></li>
</ul>