<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Attribute <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a aid="centrality">Influence</a></li>
    <li><a aid="perCapitaIncome">Per Capita Income</a></li>
    <li><a aid="minorityDiversity">Minority Diversity</a></li>
    <li><a aid="legislativeProfessionalism">Legislative Professionalism</a></li>
    <li><a aid="citizenIdeology">Citizen Ideology</a></li>
    <li><a aid="totalPopulation">Total Population</a></li>
    <li><a aid="populationDensity">Population Density</a></li>
</ul>