{% extends "layout.html" %} {% block title %} <span>Visualization</span> {% endblock %} {% block body %}
<!-- Some templates used by the views -->
<script type="text/template" id="tweet-widget-template">

</script>
<div class="container-fluid" id="content-wrapper">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <div class="nav nav-sidebar" id="subject-wrapper">
                <ol class="breadcrumb">
                    <li class="active">
                        <h4>Subject</h4>
                    </li>
                </ol>
                <div class="select-wrapper" id="subject-select-wrapper">
                    <select name="subject-select" id="subject-select" class="selectpicker show-tick" data-live-search="true" data-container="body" title="Loading..." disabled></select>
                </div>
            </div>
            <div class="nav nav-sidebar" id="policy-wrapper">
                <ol class="breadcrumb">
                    <li class="active">
                        <h4>Policy</h4>
                    </li>
                </ol>
                <div class="select-wrapper" id="policy-select-wrapper">
                    <select name="policy-select" id="policy-select" class="selectpicker show-tick" data-live-search="true" data-container="body" title="Loading..." disabled></select>
                </div>
            </div>
            <div class="nav nav-sidebar" id="centrality-wrapper">
                <ol class="breadcrumb">
                    <li class="active">
                        <h4>Centrality</h4>
                    </li>
                </ol>
                <div class="select-wrapper" id="centrality-select-wrapper">
                    <select name="centrality-select" id="centrality-select" class="selectpicker show-tick" data-live-search="false" data-container="body" title="Loading..." disabled></select>
                </div>
            </div>
            <div class="nav nav-sidebar" id="metadata-wrapper">
                <ol class="breadcrumb">
                    <li class="active">
                        <h4>y-sequence</h4>
                    </li>
                </ol>
                <div class="select-wrapper" id="metadata-select-wrapper">
                    <select name="metadata-select" id="metadata-select" class="selectpicker show-tick" data-live-search="false" data-container="body" title="Loading..." disabled></select>
                </div>
            </div>
            <div class="nav nav-sidebar" id="sequence-wrapper">
                <ol class="breadcrumb">
                    <li class="active">
                        <h4>x-sequence</h4>
                    </li>
                </ol>
                <div class="select-wrapper" id="sequence-select-wrapper">
                    <select name="sequence-select" id="sequence-select" class="selectpicker show-tick" data-live-search="false" data-container="body" title="Loading..." disabled></select>
                </div>
            </div>

        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main row">
            <div class="page-header">
                <h2 id="page-header"></h2>
            </div>
            <div id="diffusion-wrapper" class="col-sm-12 col-md-9 col-lg-9">
                <svg id="svg-diffusion-view"></svg>
            </div>
            <div id="policy-cascade-wrapper" class="col-sm-12 col-md-3 col-lg-3">
                <p id="policy-unselected-notitication">
                    Please select a policy.
                </p>
                <svg id="svg-cascade-view" style="display:none;"></svg>
            </div>
            <div id="snapshot-wrapper" class="col-sm-12 col-md-12 col-lg-12">
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button id="add-snapshot" type="button" class="btn btn-default">add</button>
                <button id="remove-snapshot" type="button" class="btn btn-default">remove</button>
            </div>

            <div id="static-views-wrapper" class="col-sm-12 col-md-12 col-lg-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#policy-network-wrapper" aria-controls="policy-network-wrapper" role="tab" data-toggle="tab">Spatial</a></li>
                    <li role="presentation"><a href="#another-network-wrapper" aria-controls="another-network-wrapper" role="tab" data-toggle="tab">Network</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="policy-network-wrapper" class="col-sm-12 col-md-9 col-lg-9">
                        <svg id="svg-network-view"></svg>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="another-network-wrapper">
                        <p>a place holder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}